{% extends "root_resp.html" %}
{% block content %}

	<div id="vidPane">
		<p>Flash player must be enabled</p>
	</div>


<script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript">
	
	var params = { allowScriptAccess: "always" };
    	var atts = { id: "myytplayer" };

	
	swfobject.embedSWF("http://www.youtube.com/v/ACs2DU3fV80?enablejsapi=1&playerapiid=ytplayer&version=3",
                       "vidPane", "425", "356", "8", null, null, params, atts);


	function onYouTubePlayerReady(playerId) {
		ytplayer = document.getElementById("myytplayer");
		console.log(ytplayer)
    	}
	
	

</script>
{% endblock %}
